.separacion {
    padding-top: 20px;
}

.tabla {
    
    width: 900px;
    height: 100px;
    border: 2px solid;
    border-color: black;
    margin-top: 25px;
    background: white;
}

.tablitas {
    border: 1px solid;
    border-color: black;
    margin: auto;
    background: white;
    
}

.fondo {

    background-color: rgb(204, 220, 214);

}

.titulo {

    font-size: 80px;
    color: rgb(41, 43, 43);
}

.subtitulo {

    background-color: rgb(204, 220, 214);
    margin: auto;
    text-align: left;
    width: auto;
    padding: 15px;
    font-size: 25px;
    border-bottom: 2px solid black;


}

.texto {

    border: 2px solid black;
    padding-block: 25px;
    background-color: white;
    margin: auto;
    text-align: left;
    width: auto;
    font-size: 18px;
}